<div class="app">
  <div class="app__header">
    <div class="header__content">
      <app-feedback-form></app-feedback-form>
      <div class="app__extra">
        <h1>Wat te doen als je je huis zelf verkoopt of verhuurt?</h1>
        <p>
          Twijfel je hoe je moet beginnen aan de verkoop of verhuur van je
          woning? Geen nood. We begrijpen dat dit een spanndende periode is en
          we willen je hier graag bij helpen.
        </p>
        <p>
          Daarom gidsen we je door het proces met een overzichtelijk
          stappenplan. Zo kan je zonder zorgen je woning te koop of te huur
          aanbieden. Het enige wat je nog moet doen, is beslissen of je wil
          verhuren of verkopen!
        </p>
        <div>
          <button class="button button--inverted">Verkoop</button>
          <button class="button button--inverted">Verhuur</button>
        </div>
      </div>
    </div>
  </div>
  <div class="app__footer">
    <h1>Hoe verkoop je het beste een huis?</h1>
    <!-- <article-card></article-card> -->
    <app-blog-list></app-blog-list>
  </div>
</div>
